body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #152238;

  color: #fff;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-auth {
  margin: auto;
  margin-top: 5rem;
  width: 35ch;
  border-radius: 1rem;
  padding: 10px;
  background: #fff;
  color: #000;
  text-align: center;

}


@media (min-width: 768px) {
  .app-container {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: #23395d;
      flex: 0 0 300px;
  }
  .main-section {
      flex: 1;
  }

}

.link-default{
  color: #000
}